.item-list > ul {
  list-style-type: none;
  padding-left: 5%; /* Indent the entire list */
  max-width: 100%; /* Ensure the ul does not exceed the viewport width */
}

.item-list > ul li {
  position: relative;
  padding-right: 20px;
  margin-bottom: 15px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  max-width: 100%;
  float: left;
}

/* List content floats to the right */
.item-list > ul li div {
  float: left;
  width: 100%;
  /* margin-right: 0px;
  margin-left: 0px; */
}

/* List picture floats to the left */
.item-list > ul li picture {
  float: left;
  width: 20%;
  margin-top: 1.5em;
}

/* ******* ******* ******* ******* */
/* ******* CHECKMARKS ******* */
/* ******* ******* ******* ******* */
/* Adjust list content width */
.item-list > ul.checkmarks li div {
  max-width: 92%;
}

/* Adjust picture content width */
.item-list > ul.checkmarks li picture {
  max-width: 36px;
}

/* Animation class for when the element scrolls into view */
.animate-right ul li.visible {
  opacity: 1;
  transform: translateX(0);
}

/* ******* ******* ******* ******* */
/* ******* CENTERED ******* */
/* ******* ******* ******* ******* */
.item-list > ul.centered {
  padding-left: 0;
}

/* centered: Styling for centered ul */
.item-list > ul.centered li {
  padding-left: 15%;
  padding-right: 15%;
}

/* Adjust list content width */
.item-list > ul.centered li div {
  width: 50%;
}

/* Adjust list picture content width */
.item-list > ul.centered li picture {
  width: 45%;
}

/* Media queries for mobile devices */
@media (max-width: 600px) {
  /* .item-list > ul li {
    font-size: 0.8em;
  } */

  .item-list > ul li picture {
    /* margin-top: 1.5em; */
  }

  /* ******* ******* ******* ******* */
  /* ******* CHECKMARKS ******* */
  /* ******* ******* ******* ******* */

  /* Adjust list content width */
  .item-list > ul.checkmarks li div {
    width: 90%;
  }

  /* Adjust picture content width */
  .item-list > ul.checkmarks li picture {
    width: 8%;
  }
}
