/* stylelint-disable max-line-length */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-display: swap;
  src: url('../fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}
