.columns-fixed > div {
  display: flex;
  flex-direction: column;
}

.columns-fixed .header {
  display: none;
}

.columns-fixed.align-top > div:not(.header) {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.columns-fixed.align-bottom > div:not(.header) {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.columns-fixed.align-bottom picture,
.columns-fixed.align-top picture {
  display: block;
}

.section.comparison-table .columns-fixed > div {
  border-top: solid 2px #ccc;
}

.section.comparison-table .columns-fixed .header {
  font-weight: bold;
  font-size: 0.7em;
}

.section.comparison-table .columns-fixed > div > div em {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 0.5em;
  font-style: normal;
}

.section.comparison-table .columns-fixed p {
  font-weight: 600;
}

/* Styles that apply only when 'shrink-to-fit' is present */
.columns-fixed.shrink-to-fit > div:not(.header) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.columns-fixed.shrink-to-fit > div > div {
  flex: 1 1 auto;
  width: auto !important; /* Override inline widths */
}

.columns-fixed.shrink-to-fit img {
  max-width: 100%;
  height: auto;
  max-width: 55px;
}

/* For screens wider than 900px */
@media (min-width: 900px) {
  .columns-fixed > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns-fixed > div > div {
    order: unset;
  }

  .columns-fixed .header {
    display: flex;
  }

  .section.comparison-table .columns-fixed > div {
    border: none;
  }

  .section.comparison-table .columns-fixed img {
    height: 64px;
    padding-top: 1em;
  }

  .section.comparison-table .columns-fixed > div > div u {
    display: none;
  }

  .columns-fixed.shrink-to-fit > div {
    align-items: center;
    gap: 32px;
  }

  .columns-fixed.shrink-to-fit .header {
    display: flex;
  }

  .columns-fixed.on-hover-expand-image picture {
    display: block;
    transition: transform 0.3s ease;
  }

  .columns-fixed.on-hover-expand-image picture:hover {
    transform: scale(1.1);
  }
}

/* For screens narrower than 900px */
@media (max-width: 899px) {
  .columns-fixed > div > div {
    order: 1;
    width: 100% !important;
  }

  .section.comparison-table .columns-fixed > div > div u {
    display: inline;
    text-decoration: none;
  }
}
